body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color:  #28193D;
    
  }
  html {
    scroll-behavior: smooth;
  }
  header {
    background-color: #46315C;
    color: #fff;
    text-align: center;
    padding: 15px 0; 
    font-size: 20px;
  }
  .container {
    max-width: 800px;
    margin: auto;
    color: white;
    margin-bottom: 100px;
  }
  .read-more-btn {
    background-color: #68507B;
    border: none;
    padding: 10px 20px;
    width: 8rem;
    height: 2rem;
    justify-content: center;
    margin-left: 550px;
    margin-bottom: 300px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  }
  .read-more-btn a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding: 20px;
  }
  .container2 {
    text-align: center;
    background: linear-gradient(to bottom, #B3A3BA,#B3A3BA,#68507B), rgba(0,0,0,0.8);
  }
  .title {
    padding-top: 30px;
    color: #46315C;
    font-size: 20px;
    margin: auto;
    line-height: 50px;
  }
  .subcon {
    max-width: 1200px;
    height: 490px;
    margin: 20px;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .teams {
    margin: 30px;
    padding: 0 20px;
    max-width: 40%;
    cursor: pointer;
    transition: 0.4s;
    box-sizing: border-box;
  }
  .teams:hover {
    background: #B3A3BA;
    border-radius: 12px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  }
  .teams img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .name {
    padding: 12px;
    font-weight: bold;
    font-size: 20px;
    color: #28193D;
    text-transform: uppercase;
  }
  .posit {
    font-style: italic;
    font-size: 15px;
    color: #28193D;
  }
  .about {
    margin: 20px 0;
    font-style: italic;
    font-size: 15px;
    color: #10091D;
  }
  .socials {
    margin: 14px;
  }
  .socials a {
    display: inline-block;
    height: 30px;
    width: 30px;
    transition: .4s;
  }
  .socials a:hover {
    transform: scale(1.5);
  }
  .socials a i {
    color: #444;
  }
  @media screen and (max-width: 900px) {
    teams {
      max-width: 100%;
    }
  }
  #team-info {
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: none;
  }
  #team-info:target {
    display: block;
  }
  footer {
    text-align: center;
  }
  footer , i, a {
    color: white;
    justify-content: space-evenly;
  }